$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$brainflix-black: #323232;
$brainflix-silver: #AFAFAF;
$brainflix-mercury: #E1E1E1;
$brainflix-blue: #0095FF;
$brainflix-darkblue: #0065AD;
$brainflix-white: #FFFFFF;
$brainflix-alabaster: #FAFAFA;
$brainflix-darkblack: #000000;