@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.hero {

    &__video {
        width: 100%;
    }

}


@include tablet {

    .hero {
        padding-left: 48px;
        padding-right: 48px;
        background-color: $brainflix-darkblack;
    }

} 


@include desktop {

    .hero {
        padding-left: 300px;
        padding-right: 300px;
    }

}