@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.add-comment {

    padding: 2rem;

    &__container {
        display: flex;
        padding-left: 1rem;
        padding-right: 3.125rem;
    }

    &__image {
        border-radius: 50%;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
    }

    &__label {
       color: $brainflix-silver;
       position: absolute;
       right: 15.9375rem;
    }
 

    &__textbox {
        margin-top: 2rem;
        width: 100%;
        width: 90%;
        background-color: $brainflix-alabaster;
        color: $brainflix-black;
        margin-left: 2rem;
        padding: 0.75rem;
        border-radius: 4px;
    }


    &__button {
        margin-top: 1.5rem;
        margin-left: 5.875rem;
        background-color: $brainflix-blue;
        color: $brainflix-white;
        width: 72%;
        height: 3rem;
        background-image: url("../../assets/icons/Icons/add_comment.svg");
        background-repeat: no-repeat;
        background-position: 0.75rem;
        border-color: $brainflix-blue;
        border-radius: 4px;
    }

}

@include tablet {

    .add-comment{
       
        &__container{
            display: flex;
        }

        &__image {
            margin-top: 1.5rem;
        }

        &__label {
            left: 8.75rem;
        }

        &__textbox {
            height: 1rem;
            width: 60%;
        }

        &__button {
            width: 12.5rem;
            position: absolute;
            right: 5rem;
            top: 74.7813rem;
        }


    }

}

@include desktop {

    .add-comment {

        margin-left: 6.25rem;

        &__container {
            width: 46.875rem;
        }

        &__label {
            // left: 15rem;
            left: 14.2813rem;
        }

        &__textbox {
            // width: 37.5rem;
            width: 40.625rem;
        }

        &__button {
            right: 46.875rem;
            top: 30.5938rem;
        }



    }

}