@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.comment {

    padding: 16px;
    font-weight: 900;
    border-bottom: 1px solid $brainflix-mercury;
    border-top: 1px solid $brainflix-mercury;
    height: 100px;
    padding-bottom: 32px;

    &__container {
        display: flex;
    }

    &__image {
        background-color: $brainflix-mercury;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 16px;
    }

    &__name {
        // margin-right: 128px;
        margin-right: 250px;
    }

    &__timestamp {
        color: $brainflix-silver;
        font-weight: 900;
    }

    &__comment {
        margin-top: 0;
        margin-left: 72px;
        width: 60%;
        
    }

}

@include tablet {

    .comment {

        padding-bottom: 24px;


        &__image {
            margin-right: 24px;
        }

       
        &__name {
            margin-right: 550px;
        }

        &__comment {
            width: 85%;
        }



    }



}