@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.sidebar{

    padding: 1rem;

    &__container {
        display: flex;
    }

    &__header {
        color: $brainflix-silver;
        font-size: 1rem;
    }

    &__image {
        width: 25%;
        height: 20%;
        border-radius: 4px;
        margin-right: 1rem;
        padding-bottom: 1rem;
    }

    &__title {
        width: 60%;
        margin-top: 0;
    }

    &__author {
        margin-top: .75rem;
        font-weight: 900;
        display: block;
        font-size: 1rem;
        color: $brainflix-black;
    }
   
}

@include tablet {

    .sidebar {

        padding-left: 3rem;

        &__image {
            width: 20%;
            height: 15%;
        }

        &__title {
            width: 25%;
        }

        &__author {
            font-size: 1.0625rem;
            margin-top: 1rem;
        }
       

    }

}

@include desktop {

    .sidebar {

        &__image {
            width: 25%;
            height: 20%;
        }

        &__title {
            width: 35%;
        }

        &__author {
            margin-top: .875rem;
        }

    
    }


}